.arti-title {
  margin-bottom: 10px;
}

.uk-navbar-container {
  background: rgb(22, 28, 36) !important;
}

.navbar-logo-name {
  color: rgba(255, 255, 255);
}
body {
  background-color: rgb(22, 28, 36, 0.98);
}

p,
h2 {
  color: #d2caca;
}
html {
  color: #d2caca;
}

button {
  color: #e5e5e5 !important;
  background-color: #3d7993 !important;
  border: 2px solid rgba(136, 136, 136, 255) !important;
}

.container-generator {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 12px 24px -4px;
  border-radius: 5px;
  background: rgb(33, 43, 54);
}

.arti-button-clear {
  margin-top: 20px;
}

.uk-input {
  background-color: rgb(33, 43, 54);
  border: 2px solid rgba(136, 136, 136, 255) !important;
  border-radius: 10px;
  padding: 1.5em;
  color: #666 !important;
}

.uk-input:focus {
  background: none;
  color: #d2caca !important;
}
